<nav>
    <div class="site-title">
        <a href="/">
            <h1>blog</h1>
        </a>
    </div>
    <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">New blog</a></li>
    </ul>

</nav>